@model IEnumerable<string>
<div class="d-grid gap-2">
	<a asp-action="List" asp-controller="Product" asp-route-category="" asp-route-productPage="1"
		class="btn btn-block btn-outline-secondary @(string.IsNullOrEmpty(ViewBag.SelectedCategory) ? "active" : "")">
		Tất cả sản phẩm
	</a>
	@foreach (string category in Model)
	{
		<a asp-action="List" asp-controller="Product" asp-route-category="@category" asp-route-productPage="1"
			class="btn btn-block btn-outline-secondary @(category == ViewBag.SelectedCategory ? "active" : "")">
			@category
		</a>
	}
</div>