@{
	ViewData["Title"] = "Trang Test";
}

<h1>@ViewBag.message</h1>
<p>Bạn có thể truy cập các đường dẫn sau:</p>
<ul>
	<li><a href="/Test/HelloWorld">/Test/HelloWorld</a></li>
	<li><a href="/Test/Welcome?name=Teo">/Test/Welcome?name=Teo</a></li>
</ul>